* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header {
    height: 100px;
}

#logOut {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#mainPage {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.table {
    margin: 10px;
}

body {
    background-color: #f8f4ef;
}

table {
    border-radius: 5px;
}

th,
td,
button {
    padding: 3px;
    text-align: center;
}

.delete {
    fill: red;
}

button {
    font-weight: bold;
}

table,
td,
th {
    border: 2px solid black;
}