* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f4ef;
}

.hely {
    background-image: url(./img/hatter.jpg);
    background-size: cover;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.content {
    width: 60%;
    text-align: left;
    font-family:'cormorant garamond';
    margin: 0 auto;
    
}

.szektor h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2rem;
}

.szektor p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.szektor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.szektor-nev {
    display: flex;
    flex-flow: column wrap;
}

.szektor-ar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.6rem;
}

h2.hely {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family:'jonathan signature';
    font-weight: 100;
}

.korrekcio {
    width: 60%;
    height: 10rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    font-weight: 600;
    font-style: italic;
    border: 1px solid gray;
}

.esztetika-arlista {
    width: 60%;
    text-align: left;
    font-family:'cormorant garamond';
    margin: 0 auto;
}