* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.nav-horgonyok li {
    list-style-type: none;
    display: inline;
    
}

.nav-horgonyok a, .dropdown-button {
    text-decoration: none;
    color: black;
    font-family:'chamberi super display regular';
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;

}

.nav-horgonyok a:hover {
    color: gray;
    text-decoration: underline;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 1rem;

}

header {
    background-image: url(./img/hatter.jpg);
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.hely {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    padding-top: 5rem;
}

.hely2 {
    background-image: url(./img/hatter.jpg);
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family:'jonathan signature';
    font-weight: 100;
}

main {
    width: 60%;
    text-align: left;
    font-family:'cormorant garamond';
    margin: 0 auto;
    
}

.szektor h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2rem;
}

.szektor p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.szektor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.szektor-nev {
    display: flex;
    flex-flow: column wrap;
}

.szektor-ar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.6rem;
}

h2.hely {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family:'jonathan signature';
    font-weight: 100;
}

.korrekcio {
    width: 60%;
    height: 10rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    font-weight: 600;
    font-style: italic;
    border: 1px solid gray;
}

.esztetika-arlista {
    width: 60%;
    text-align: left;
    font-family:'cormorant garamond';
    margin: 0 auto;
}

.dropdown-content {
    font-family:'chamberi super display regular';
    position: absolute;
    display: none;
    background-color: #c5c9ca;
    border-radius: 1rem;
    border: 1px solid black;
}

.dropdown-content a {
    padding-top: 1rem;
    /* border-bottom: 1px solid gray; */
    display: block;
    padding-bottom: 1rem;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

