* {
    margin: 0;
    padding: 0;
}

.cim {

    background-size: cover;
    display: flex;
    /*  width: 100%; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

header {
    width: 100%;
    background-image: url(./img/hatter.jpg);
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
    margin-top: 1rem;
    box-shadow: 5px 5px 20px gray;
}

.dropdown:hover .dropdown-button svg {
    transform: rotate(180deg);
    transition: 0.5s;
}

h2.cim {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Sacramento', cursive;
    font-weight: 50;
    font-style: italic;
    /* height: 10rem; */
    padding-top: 2rem;
}

body {
    background-color: #f8f4ef;
}

.content {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    display: flex;
    justify-content: center;
    height: 40rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: 'chamberi super display regular';
    letter-spacing: 0.2rem;
    font-weight: 600;
}

/* .labelek {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}

.inputok {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
} */

.vez-nev,
.ker-nev,
.tel,
.email,
.megjegyzes {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center; // mobilos nézet // */
    justify-content: space-between;
    align-content: center;
}

input,
textarea {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'chamberi super display regular';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 5px 5px 20px gray;
}

button {
    font-size: 2rem;
    font-family: 'chamberi super display regular';
    font-weight: 600;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

button:hover {
    background-color: rgb(214, 214, 176);
}

.nav-horgonyok li {
    list-style-type: none;
    display: inline;

}

.nav-horgonyok a,
.dropdown-button {
    text-decoration: none;
    color: black;
    font-family: 'chamberi super display regular';
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;

}

.nav-horgonyok a:hover {
    color: gray;
    text-decoration: underline;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;

}

.dropdown-content {
    font-family: 'chamberi super display regular';
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 5px 5px 20px gray;
    /* border-radius: 1rem; */
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px gray;

}

.dropdown-content a {
    padding-top: 1rem;
    border-bottom: 1px solid black;
    display: block;
    padding-bottom: 1rem;

}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1120px) {
    .nav-horgonyok {
        display: none;
        flex-flow: column nowrap;
        font-size: 3rem;
        position: absolute;
        z-index: 1;
        left: 60px;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
    }

    .nav-horgonyok a {
        border-bottom: 2px solid rgb(173, 167, 136);
    }

    .dropdown-content a {
        padding-top: 0.5rem;
        border-bottom: 1px solid black;
        display: inline;
        padding-bottom: 0.5rem;

    }

    .dropdown {
        position: relative;
    }

    li.dropdown {
        display: inline;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 10px;
        left: 220px;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .nav-horgonyok svg {
        display: none;
    }

    .kapcsolat {
        justify-content: space-evenly;
    }

    .hamburger {
        display: block;
    }

    .fejlec-titulus {
        font-size: 6vw;
    }

    .fejlec-nev {
        font-size: 7vw;
    }

    .kapcsolat svg {
        display: none;
    }

    header {
        height: 30vw;
    }

    nav {
        justify-content: flex-start;
        padding-left: 1rem;
    }

    h2.cim {
        margin-bottom: 5vw;
        font-size: 8vw;
    }

}

@media only screen and (max-width: 872px) {
    .nav-horgonyok {
        display: none;
    }

    .kapcsolat {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .fejlec-titulus {
        font-size: 6vw;
    }

    .fejlec-nev {
        font-size: 7vw;
        padding-bottom: 4vw;
    }

    .fejlec {
        padding-top: 8vw;
    }

    .kapcsolat svg {
        display: none;
    }

    header {
        height: 30vw;
    }

    .logo {
        width: 25vw;
        height: 20vw;
    }

    .hamburger svg {
        width: 5vw;
        height: 5vw;
    }

    .main-content p {
        font-family: 'chamberi super display regular';
        font-size: 3vw;
        line-height: 1.5rem;
        padding-bottom: 2re;
    }

    h2.cim {
        margin-bottom: 3vw;
        padding-top: 0;
    }

    label {
        font-size: 4vw;
    }

    .vez-nev,
    .ker-nev,
    .tel,
    .email,
    .megjegyzes,
    .button {
        display: flex;
        flex-flow: column wrap;
        /*justify-content: center; // mobilos nézet // */
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    input {
        height: 4vw;
        width: 60vw;
    }

    textarea {
        width: 60vw;
    }

    form {
        width: 80vw;
        height: 70vh;
        justify-content: space-evenly;
        align-content: center;
        padding-top: 10vw;
    }

}