* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f4ef;
}

.nav-horgonyok li {
    list-style-type: none;
    display: inline;

}

.nav-horgonyok a,
.dropdown-button {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display';
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;

}

.nav-horgonyok a:hover {
    color: gray;
    text-decoration: underline;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 1rem;

}

header {
    background-image: url(../images/hatter.jpg);
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 1rem;
    box-shadow: 5px 5px 20px gray;
    margin-bottom: 2rem;
}

.hely {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    padding-top: 2rem;
}

.hely2 {
    background-image: url(../images/hatter.jpg);
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Playfair Display';
    font-weight: 50;
    font-style: italic;
}

main {
    width: 60%;
    text-align: left;
    font-family: 'Playfair Display';
    margin: 0 auto;

}

.szektor h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2rem;
}

.szektor p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.szektor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.szektor-nev {
    display: flex;
    flex-flow: column wrap;
}

.szektor-ar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.6rem;
    text-decoration: underline;
}

.dropdown:hover .dropdown-button svg {
    transform: rotate(180deg);
    transition: 0.5s;
}

h2.hely {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Playfair Display';
    font-weight: 50;
    font-style: italic;
}

.korrekcio {
    width: 60%;
    height: 10rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    font-weight: 600;
    font-style: italic;
    border: 1px solid gray;
}

.esztetika-arlista {
    width: 60%;
    text-align: left;
    font-family: 'Playfair Display';
    margin: 0 auto;
}

.dropdown-content {
    font-family: 'Playfair Display';
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 5px 5px 20px gray;

}

.dropdown-content a {
    padding-top: 1rem;
    border-bottom: 1px solid black;
    display: block;
    padding-bottom: 1rem;

}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1180px) {
    .nav-horgonyok {
        display: none;
        flex-flow: column nowrap;
        font-size: 3rem;
        position: absolute;
        z-index: 1;
        left: 60px;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
    }

    .nav-horgonyok a {
        border-bottom: 2px solid rgb(173, 167, 136);
    }

    .dropdown-content a {
        padding-top: 0.5rem;
        border-bottom: 1px solid black;
        display: inline;
        padding-bottom: 0.5rem;

    }

    .dropdown {
        position: relative;
    }

    li.dropdown {
        display: inline;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 10px;
        left: 220px;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .nav-horgonyok svg {
        display: none;
    }

    .kapcsolat {
        justify-content: space-evenly;
    }

    .hamburger {
        display: block;
    }

    .fejlec-titulus {
        font-size: 6vw;
    }

    .fejlec-nev {
        font-size: 7vw;
    }

    .kapcsolat svg {
        display: none;
    }

    header {
        height: 30vw;
    }

    nav {
        justify-content: flex-start;
        padding-left: 3vw;
        padding-top: 3vw;
    }

    h2.hely {
        font-size: 7vw;
        margin-bottom: 0vw;
        padding-top: 0;
    }

    h2.hely2 {
        font-size: 8vw;
    }

    .korrekcio {
        font-size: 3vw;
    }

    .szektor p {
        font-size: 3vw;
    }

    .szektor h2 {
        font-size: 3vw;
    }

    .szektor {
        flex-direction: column;
    }

    .szektor-ar {
        justify-content: center;
    }

    .szektor-nev {
        justify-content: center;
        align-items: center;
    }

    .esztetika-arlista {
        width: 100%;
    }

    main {
        width: 100%;
    }
}

@media only screen and (max-width: 872px) {
    .nav-horgonyok {
        display: none;
    }

    .kapcsolat {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .fejlec-titulus {
        font-size: 6vw;
    }

    .fejlec-nev {
        font-size: 7vw;
        padding-bottom: 4vw;
    }

    .fejlec {
        padding-top: 8vw;
    }

    .kapcsolat svg {
        display: none;
    }

    header {
        height: 30vw;
    }

    .logo {
        width: 25vw;
        height: 20vw;
    }

    .hamburger svg {
        width: 5vw;
        height: 5vw;
    }

    .main-content p {
        font-family: 'Playfair Display';
        font-size: 3vw;
        line-height: 1.5rem;
        padding-bottom: 2re;
    }

    h2.hely {
        margin-bottom: 0;
        padding-top: 0;
        font-size: 7vw;
    }

    h2.hely2 {
        margin-bottom: 3vw;
    }
}