* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f4ef;
    display: flex;
    align-content: center;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 7vw;
    background-image: url(../img/hatter.jpg);
}

main a {
    text-decoration: none;
    color: black;
    font-family: 'Sacramento', cursive;
    font-weight: 500;
}

main a:hover {
    transform: scale(1.5);
    transition: 0.5s;
}